<h3>Privacy and cookies</h3>
<p>This page lets you control how we use your info, and whether we can track how you use the
	{{ _app_name }}. We use this information to give you a more personal experience.</p>

<h3>Personalisation settings</h3>
Allow personalisation


This makes the
{{ _app_name }}
more relevant and personal to you. For instance, when it's on you can:
<div class="uk-margin-small">
	<ul>
		<li>Get personalised newsletters and recommendations about things we think you'll like</li>
		<li>Pick up where you left off with programmes you're part way through</li>
	</ul>
</div>
Don't worry, if you turn it off you'll still be able to add and love things, and get notifications about them.

Just so you know, we're still improving this feature. So turning it off currently affects different parts of the
{{ _app_name }}
in different ways.

<div class="uk-margin">
	<a href="" class="uk-button uk-button-text uk-text-primary">Find out more about personalisation</a>
</div>

<h3>Allow social network recommendations</h3>


This means we can share some data securely with social media sites to make sponsored
{{ _app_name }}
recommendations relevant to you.

If you turn this off, you might still see
{{ _app_name }}
posts, but they won't be personalised using your
{{ _app_name }}
account data.


<div class="uk-margin">
	<a href="" class="uk-button uk-button-text uk-text-primary">Find out more about social network recommendations</a>
</div>

<h3>Cookies settings</h3>
<p>Some cookies are essential for the
	{{ _app_name }}
	website to work. Others help us give you a better, more personal
	{{ _app_name }}.</p>

<p>
	<a href="" class="uk-button uk-button-text uk-text-danger uk-text-bolder">Change my cookie settings</a>
</p>
