{% extends 'base_admin.html.twig' %}
{% import "macros/multicheck.macro.html.twig" as multicheck %}

{% set _this			= this %}
{% set _form            = form %}
{% set _controller 		= _this.thisRouteController() %}
{% set _table 			= table %}
{% set _pagination 		= pagination %}
{% set _total_records 	= total_records %}
{% set _results 		= results %}
{% set _searchedQuery 	= search_query %}
{% set _nav_icon_size	= 1.5 %}
{% set _icon_size	    = 3 %}
{% set _icon			= 'file-edit' %}
{% set submenu %}
{% include 'admin/user/parts/submenu.html.twig' %}
{% endset %}

{% block content_title %}
	{{ _controller|capitalize }}
{% endblock content_title %}

{% block content_header_help %}
	{#
	string		$searchFilter = null, 
	string 		$controller = null,
	int 		$totalRecords = null,
	array 		$actions = null,
	bool 		$actionVertical = false,
	array 		$row = null) : string
	#}
	{{ subHeader(
		_searchedQuery,
		_controller,
		_total_records,
		{
			question: {tooltip: 'Help', path: '', ratio: _nav_icon_size},
			plus: {
                tooltip: 'Add New', 
                icon: 'plus-circle', 
                ratio: _nav_icon_size, 
                color: 'uk-text-primary',
                toggle: true,
                toggle_id: '#new-role',
                use_modal: true,
                modal_title: 'New Role',
                modal_content: _form|raw
            },
		},
		false,
		null,
		null,
		_icon
	)|raw }}
{% endblock content_header_help %}

{% block main %}
	<section uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
		<div class="uk-width-1-5">
			<div class="uk-card uk-card-body uk-padding-remove" uk-sticky="offset: 150; bottom: #top">
				{{ submenu }}
				{{ navMenu(Config('meta_nav').role_index_path)|raw }}
			</div>
		</div>

		<div class="uk-width-expand@m">
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						<h3 class="uk-card-title">{{ role.role_name }}</h3>
						<p>{{ role.role_description }}
							-
							{{ role_permission.permission_id|length }}
							permission(s) assigned to this role.</p>

					</div>
				</div>
			</div>
			<br>
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						<form method="POST" action="" class="uk-form-horizontal">
							<div class="uk-margin">
								<div class="uk-form-label">Permissions
									<br>
									<span class="uk-text-small uk-text-lighter">You can assign one or multiple permissions for this role.</span>
								</div>
								{{ multicheck._multicheck(
										permissions,
										'id',
										role_perms,
										'permission_id',
										'permission_name'
									) }}
								<div class="uk-form-controls">
									<input type="submit" class="uk-button uk-button-small uk-button-primary" value="Update" name="update-role">
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>

			<div></section>
		{% endblock main %}

		{% block body_javascript %}
			{{ parent() }}
			<script>
				function saveChanges(Object) {
alert(Object.value)
}
			</script>
		{% endblock body_javascript %}
