{% extends 'base.html.twig' %}

{% block title %}
	New Password
{% endblock %}

{% block main %}
	<div>
		<div uk-grid>
			<div class="uk-width-auto@m">
				{% set navs = {
					new_password: {title: 'New Password', path: '#'},
					info: {title: 'Help', path: '#'},

				} %}
				<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
					{% for index, nav in navs %}
						<li>
							<a href="{{ nav.path }}">{{ nav.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="uk-width-expand@m">
				<ul id="component-tab-left" class="uk-switcher">
					<li>
						{% if token_valid is empty %}
							<h1 class="uk-heading-small">Token Expired</h1>
							<p>Password reset link invalid or expired, please click
								<a href="/password/forgot">here</a>
								to request another one.</p>
						{% else %}
							<h1 class="uk-heading-small">What's your New Password</h1>
							<p>Passwords need to include...</p>
							<p>
								<ul>
									<li>8 or more characters</li>
									<li>At least 1 letter</li>
									<li>At least 1 number</li>
								</ul>
							</p>
							{{ form|raw }}


						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock main %}

{% block body_javascript %}
	{{ parent() }}
	<script src="{{ asset('/resources/js/hideShowPassword.min.js') }}"></script>
	<script src="{{ asset('/resources/js/app.js') }}"></script>

	<script>
		$(document).ready(function () { /**
             * Validate the form
             */
$('#user-password-form').validate({
rules: {
password: {
required: true,
minlength: 6,
validPassword: true
}
}
});


/**
              * Show password toggle button
              */
$('#inputPassword').hideShowPassword({show: false, innerToggle: 'focus'});
});
	</script>

{% endblock %}
