{% macro _multicheck(primaryData, primaryID = 'id', secondaryData, secondaryID = 'permission_id', fieldName) %}
    <div class="uk-form-controls">
        <ul class="uk-list uk-list-striped">
            {% if primaryData is empty %}
                No Data
            {% else %}
                {% for pData in primaryData %}
                    {% for sData in secondaryData %}
                        {% if pData.id in sData.permission_id|keys %}
                            {% set checked = ' checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}
                    {% endfor %}
                    <li>
                        <label for="{{ pData.fieldName }}">
                            <input type="checkbox" class="uk-checkbox" name="{{ fieldName }}" id="{{ fieldName ~ '_' ~ pData.permission_name }}" value="{{ pData.id }}"{{ checked }}>
                            {{ pData.permission_name|replace({'_' : ' '})|upper }}
                        </label>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endmacro %}
