{% extends 'base_admin.html.twig' %}

{% set _this			= this %}
{% set _controller 		= _this.thisRouteController()|lower %}
{% set _namespace		= _this.thisRouteNamespace()|lower %}
{% set _action			= _this.thisRouteAction()|lower %}
{% set _sep				= '/' %}
{% set _table 			= table %}
{% set _pagination 		= pagination %}
{% set _totalRecords 	= total_records %}
{% set _columns 		= columns %}
{% set _row 			= user %}
{% set _searchedQuery 	= search_query %}
{% set _helpBlock 		= help_block %}
{% set _path			= _sep ~ _namespace ~ _sep ~ _controller ~ _sep %}
{% set _new_path		= _path ~ 'new' %}
{% set _edit_path		= _path ~ _row.id ~ 'edit' %}
{% set _trash_path		= _path ~ _row.id ~ _sep ~ 'trash' %}
{% set _preference_path = _path ~ _row.id ~ _sep ~ 'preferences' %}
{% set _permission_path = _path ~ _row.id ~ _sep ~ 'permission' %}

{% set _icon_size		= 1.5 %}

{% block content_title %}Edit
	{{ user.firstname }}
{% endblock content_title %}

{% block main %}
	<section uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
		<div class="uk-width-1-5">
			<div class="uk-card uk-card-body uk-padding-remove" uk-sticky="offset: 150; bottom: #top">
				<div class="uk-padding-small uk-padding-remove-bottom">
					{{ iconNav(
						{
							plus: { tooltip: 'Add New User', icon: 'plus', ratio: _icon_size, path: _new_path },
							bin: { icon: 'trash', ratio: _icon_size, tooltip: 'Bin It!', path: _trash_path}
						},
						_row,
						_controller,
						false
					)|raw }}
				</div>
				{% set editCustomMenu = {
					header: {header: 'Manage'},
					preferences: {title: 'Prefereces', path: _preference_path, header: '', icon: 'settings'},
					permission: {title: 'Permission', path: _permission_path, header: '', icon: 'lock'}
				} %}
				{{ navMenu(editCustomMenu)|raw }}
			</div>
		</div>

		<div class="uk-width-expand@m">
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						{{ form|raw }}
					</div>
				</div>
				{{ _pagination|raw }}
			</div>
			<div></section>
		{% endblock main %}

		{% block body_javascript %}
			{{ parent() }}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
			<script src="{{ asset('/public/assets/js/hideShowPassword.min.js') }}"></script>
			<script src="{{ asset('/public/assets/js/app.js') }}"></script>
			<script>
				$(document).ready(function() {

					var userId = '{{ _row.id }}';

					/**
					 * Validate the form
					 */
					$('#formUser').validate({
						rules: {
							name: 'required',
							email: {
								required: true,
								email: true,
								remote: {
									url: '/account/validate-email',
									data: {
										ignore_id: function() {
											return userId;
										}
									}
								}
							},
							password: {
							minlength: 6,
							validPassword: true
							}
						},
						messages: {
							email: {
								remote: 'email already taken'
							}
						}
					});

					/**
					 * Show password toggle button
					 */
					$('#password_hash').hideShowPassword({
						show: false,
						innerToggle: 'focus'
					});

				});
			</script>

		{% endblock body_javascript %}
