{% extends 'base_admin.html.twig' %}

{% set _this			= this %}
{% set _controller 		= _this.thisRouteController() %}
{% set _total_records 	= total_records %}
{% set _nav_icon_size	= 32 %} {# defined in pixels px #}
{% set _icon_size	    = 3 %}
{% set _icon			= 'file-edit' %}
{% set _header_icon		= 'ion-person-stalker' %}

{% set submenu %}
{% include 'admin/user/parts/submenu.html.twig' %}
{% endset %}

{% set _info %}
	<div class="uk-width-expand@m">
		There are currently {{ _total_records }} entries within this entity.
	</div>
{% endset %}

{% block content_title %}
	{{ 'New ' ~ _controller|capitalize }}
{% endblock content_title %}

{% block content_header_help %}
	{#
		string		$searchFilter = null, 
		string 		$controller = null,
		int 		$totalRecords = null,
		array 		$actions = null,
		bool 		$actionVertical = false,
		array 		$row = null) : string
		#}
	{{ subHeader(
		search_query,
		_controller|capitalize,
		_total_records,
		{
			plus: {tooltip: 'Add New', icon: 'ion-android-person-add', path: path(_this, 'new'), ratio: _nav_icon_size, color: 'uk-text-primary'},
			question: {tooltip: 'Help', icon: 'ion-information-circled', path: '', ratio: _nav_icon_size},
		},
		false,
		null,
		null,
		_header_icon,
		null,
		_info
	)|raw }}
{% endblock content_header_help %}

{% block main %}
	<section uk-grid>
		<div class="uk-width-auto">
			<div>
				<div class="uk-card uk-card-body uk-padding-remove">
					{{ submenu }}
					{{ navMenu(Config('meta_nav').user_index_path)|raw }}
				</div>
			</div>
		</div>

		<div class="uk-width-expand@m">
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						{% if results is empty %}
							No Data!
						{% else %}
							<form method="POST" action="/admin/user/bulk">
								<div id="js-selector-container"></div>
								{{ table|raw }}
							</form>
						{% endif %}
					</div>
				</div>
				{{ pagination|raw }}
			</div>
		</div>
	</section>
		{% endblock main %}

		{% block body_javascript %}
			{{ parent() }}
			<script>
				function saveChanges(Object) {
				alert(Object.value)
				}

				function checkUncheckAll() {
				var rows = document.getElementsByName('id'); // *Columns name attribute
				var isCheck = false; // flag defaults to false
				rows.forEach((cb) => {
				if (cb.type === 'checkbox') {
				if (cb.checked === false) {
				isCheck = true
				cb.checked = true;
				} else {
				if (cb.checked === true) {
				isCheck = false;
				cb.checked = false;
				}
				}
				}
				})
				whenCheck(isCheck)

				}

				function whenCheck(isCheck) {
				var toggle = document.getElementById("js-selector-container");
				if (isCheck === true) {
				toggle.innerHTML = `
				<div class="uk-background-muted uk-margin-remove uk-padding-small">
				<span>36 Entries found: </span>
				<button uk-tooltip="Delete Selected items" class="uk-button uk-button-small uk-button-danger uk-button-default" type="submit" name="bulk-delete"><span class="ion-ios-trash ion-24"></span></button>
				
				<button uk-tooltip="Clone Selected items" class="uk-button uk-button-small uk-button-primary" type="submit" name="bulk-copy"><span class="ion-ios-copy-outline ion-24"></span></button>						</div>`;
				} else {
				toggle.innerHTML = "";
				}
				}
			</script>
		{% endblock body_javascript %}
