{% extends 'base_admin.html.twig' %}

{% set _this			= this %}
{% set _controller 		= _this.thisRouteController() %}
{% set _table 			= table %}
{% set _pagination 		= pagination %}
{% set _total_records 	= total_records %}
{% set _columns 		= columns %}
{% set _results 		= results %}
{% set _searchedQuery 	= search_query %}
{% set _helpBlock 		= help_block %}
{% set _nav_icon_size	= 1.5 %}
{% set _icon_size	    = 3 %}
{% set _icon			= 'file-edit' %}
{% set _path			= _sep ~ _namespace ~ _sep ~ _controller ~ _sep %}
{% set _new_path		= _path ~ 'new' %}
{% set _edit_path		= _path ~ _row.id ~ 'edit' %}
{% set _trash_path		= _path ~ _row.id ~ _sep ~ 'trash' %}
{% set _preference_path = _path ~ _row.id ~ _sep ~ 'perferences' %}
{% set _permission_path = _path ~ _row.id ~ _sep ~ 'permission' %}
{% set submenu %}
	{% include 'admin/user/parts/submenu.html.twig' %}
{% endset %}

{% block content_title %}
	{{ _controller|capitalize }}
{% endblock content_title %}

{% block content_header_help %}
{#
string		$searchFilter = null, 
string 		$icon = null, 
string 		$iconColor = null,
string 		$iconSize = null,
string 		$prefix = null,
string 		$controller = null,
int 		$totalRecords = null,
array 		$actions = null,
bool 		$actionVertical = false,
array 		$row = null) : string
#}
	{{ subHeader(
		_searchedQuery,
		_icon,
		null,
		_icon_size,
		null,
		_controller|capitalize,
		_total_records,
		null,
		false,
		null
	)|raw }}
{% endblock content_header_help %}

{% block main %}
	<section uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
		<div class="uk-width-1-6">
			<div class="uk-card uk-card-body uk-padding-remove" uk-sticky="offset: 150; bottom: #top">
				{{ searchBox()|raw }}
				{{ submenu }}
				{{ navMenu(Config('meta_nav').user_index_path)|raw }}
			</div>
		</div>

		<div class="uk-width-expand@m">
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						{% if _results is empty %}
							{% else %}
								{{ table|raw }}
						{% endif %}
					</div>
				</div>
				{{ _pagination|raw }}
			</div>
			<div></section>
		{% endblock main %}

		{% block body_javascript %}
			{{ parent() }}
		{% endblock body_javascript %}
