{% extends 'base_admin.html.twig' %}

{% set _this			= this %}
{% set _controller 		= _this.thisRouteController() %}
{% set _table 			= table %}
{% set _pagination 		= pagination %}
{% set _totalRecords 	= total_records %}
{% set _columns 		= columns %}
{% set _results 		= results %}
{% set _searchedQuery 	= search_query %}
{% set _helpBlock 		= help_block %}

{% block content_title %}
	{{ _controller|capitalize }}
{% endblock content_title %}

{% block main %}
	<section uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
		<div class="uk-width-1-5">
			<div class="uk-card uk-card-body uk-padding-remove" uk-sticky="offset: 150; bottom: #top">
				<form class="uk-search uk-search-default" z>
					<span uk-search-icon></span>
					<input class="uk-search-input" type="search" placeholder="Search...">
				</form>
				<div class="uk-padding-small uk-padding-remove-bottom">
					{{ iconNav(
						{
							plus: { tooltip: 'Add New User', icon: 'plus', ratio: _icon_size, path: _new_path },
							bin: { icon: 'trash', ratio: _icon_size, tooltip: 'Bulk Delete'}
						},
						_results,
						_controller,
						false
					)|raw }}
				</div>

				{{ navMenu(Config('meta_nav').user_index_path)|raw }}
			</div>
		</div>

		<div class="uk-width-expand@m">
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						{% if _results is empty %}
							{% else %}
								{{ table|raw }}
						{% endif %}
					</div>
				</div>
				{{ _pagination|raw }}
			</div>
			<div></section>
		{% endblock main %}

		{% block body_javascript %}
			{{ parent() }}
		{% endblock body_javascript %}
