{% extends 'base_admin.html.twig' %}

{% set _this			= this %}
{% set _controller 		= _this.thisRouteController()|lower %}
{% set _namespace		= _this.thisRouteNamespace()|lower %}
{% set _action			= _this.thisRouteAction()|lower %}
{% set _sep				= '/' %}
{% set _table 			= table %}
{% set _pagination 		= pagination %}
{% set _totalRecords 	= total_records %}
{% set _columns 		= columns %}
{% set _row 			= user %}
{% set _searchedQuery 	= search_query %}
{% set _helpBlock 		= help_block %}
{% set _nav_icon_size	= 1.5 %}
{% set _icon_size		= 3 %}
{% set _icon			= 'file-edit' %}
{% set _full_name		= _row.firstname ~ ' ' ~ _row.lastname %}
{% set _prefix			= 'Edit `' ~ _full_name ~ '` Account' %}
{% set submenu %}
{% include 'admin/user/parts/submenu.html.twig' %}
{% endset %}

{% block content_title %}Edit
	{{ user.firstname }}
{% endblock content_title %}

{% block content_header_help %}
	{#
		string		$searchFilter = null, 
		string 		$controller = null,
		int 		$totalRecords = null,
		array 		$actions = null,
		bool 		$actionVertical = false,
		array 		$row = null) : string
		#}
	{{ subHeader(
		_searchedQuery,
		_controller|capitalize,
		_total_records,
		{
			question: {tooltip: 'Help', path: '', ratio: _nav_icon_size},
		},
		false,
		null
	)|raw }}
{% endblock content_header_help %}

{% block main %}
	<section uk-grid class="uk-child-width-1-1@s uk-child-width-1-1@l">
		<div class="uk-width-1-5">
			<div class="uk-card uk-card-body uk-padding-remove" uk-sticky="offset: 150; bottom: #top">
				{{ submenu }}
				{% set editCustomMenu = {
					header: {header: 'Manage'},
					preferences: {
                        title: 'Perferences', 
                        path: path(_this, 'perferences', _row.id), 
                        header: '', icon: 'settings'
                    },
					permission: {
                        title: 'Permission', 
                        path: path(_this, 'permission', _row.id), 
                        header: '', 
                        icon: 'lock'
                    },
					role: {
                        title: 'Roles', 
                        path: '', 
                        ratio: _nav_icon_size, 
                        icon: 'unlock', 
                        header: 'Actions'
                    },
					file: {
                        title: 'Notes', 
                        path: path(_this, 'notes', _row.id), 
                        ratio: _nav_icon_size, 
                        icon: 'file-edit'
                    },
					trash: {
                        title: 'Delete Acount', 
                        path: path(_this, 'delete', _row.id), 
                        ratio: _nav_icon_size, 
                        icon: 'trash'
                    }

				} %}
				{{ navMenu(editCustomMenu)|raw }}
			</div>
		</div>

		<div class="uk-width-expand@m">
			<div>
				<div class="uk-card uk-card-secondary">
					<div class="uk-card-body">
						<h3 class="uk-card-title">{{ _full_name }} Note?</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
				<div class="uk-margin-small"></div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-body">
						<div uk-grid>
							<div class="uk-width-auto@m">
								<ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
									<li>
										<a href="#">Basic Information</a>
									</li>
									<li>
										<a href="#">Activites</a>
									</li>
									<li>
										<a href="#">Item</a>
									</li>
								</ul>
							</div>
							<div class="uk-width-expand@m">
								<ul id="component-tab-left" class="uk-switcher">
									<li>
                                        {% set description_lists = {
                                            name: {value: _full_name},
                                            email: {value: _row.email},
                                            status: {value: _row.status},
                                            created_at: {value: _row.created_at, title: 'Created'},
                                            modified_at: {value: _row.modified_at, title: 'Modified'},
                                            last_login: {value: 'Yesterday', title: 'Last Activity'},
                                            failed_logins: {value: 3, title: 'Failed Login Attempts'}
                                        } %}
                                        <dl class="uk-description-list uk-description-list-divider">
                                        {% for key, list in description_lists %}
                                            <dt>{{ list.title ? list.title : key|replace({'_' : ' '})|upper }}</dt>
                                            <dd>{{ list.value }}</dd>
                                        {% endfor %}
                                        </dl>
                                    </li>
									<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
									<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div></section>
		{% endblock main %}

		{% block body_javascript %}
			{{ parent() }}
		{% endblock body_javascript %}
