{% import "macros/asset.macro.html.twig" as asset_macro %}
<!doctype html>
<html class="no-js" lang="{{ app.default_locale }}">

	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
				{{ block('content_title')|capitalize|striptags|raw }}
			{% endblock title %}
		</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="site.webmanifest">
		{% if app.favicon %}
			<link type='image/x-icon' href='{{ app.favicon }}' rel='shortcut icon'>
		{% endif %}
		{% if app.apple_icon %}
			<linkrel="apple-touch-icon" href="{{ app.apple_icon }}">
		{% endif %}
			<!-- Place favicon.ico in the root directory -->

			{% block head_stylesheets %}
				{{ asset_macro._stylesheets(Config('assets').stylesheets) }}
				<style>body {font-family: 'Nunito', sans-serif;}</style>
				{{ asset_macro._scripts(Config('assets').scripts, 'header') }}
				<link rel="stylesheet" href="{{ asset('build/app.css') }}">
			{% endblock head_stylesheets %}

			<script>
				$(window).on("load", function () {
					$(".preloader").fadeOut("slow");;
				});
			</script>
		</head>
		<body>
			{% block body %}
				 {{ inertia(page) }}
				{% block body_javascript %}
					{{ asset_macro._scripts(Config('assets').scripts, 'footer') }}
					<script src="{{ asset('./build/app.js') }}"></script>
				{% endblock body_javascript %}

				<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
				<script>
					window.ga = function () {
					ga.q.push(arguments)
					};
					ga.q = [];
					ga.l = + new Date;
					ga('create', 'UA-XXXXX-Y', 'auto');
					ga('set', 'anonymizeIp', true);
					ga('set', 'transport', 'beacon');
					ga('send', 'pageview')
				</script>
				<script src="https://www.google-analytics.com/analytics.js" async></script>
			{% endblock body %}
		</body>
	</head>
</html>
