<div>Name: {{ profile.firstname ~ ' ' ~ profile.lastname }}</div>
<div>Created On:{{ profile.created_at }}</div>
<div>Modified On:{{ profile.modified_at }}</div>
<div>Email Address:{{ profile.email }}</div>
<div>Status:{{ profile.status }}</div>
<div>IP Address:{{ profile.remote_addr }}</div>
